{% extends 'base.html' %}

{% block title %} {{ super() }} | Edit Item {% endblock %}

{% block content %}

    <div class="container" style="padding-top: 20px;">
        <form method="POST" style="max-width: 600px;">
            <fieldset>
                <legend>Update Item</legend>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input name="name" class="form-control" type="text" placeholder="Enter Name"
                           aria-label="default input example" id="name" value="{{ item['name'] }}">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input name="price" class="form-control" type="text" placeholder="Enter Price"
                           aria-label="default input example" id="price" value="{{ item['price'] }}">
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">Image Url</label>
                    <input name="url" class="form-control" type="text" placeholder="Enter Image URL"
                           aria-label="default input example" id="url" value="{{ item['image_url'] }}">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </fieldset>
        </form>
    </div>

{% endblock %}